* {
    box-sizing: border-box;
    font-family: Roboto-light, Arial, Helvetica, sans-serif;
}
h1, h2, h3 {
    color: #000;
    font-family: Roboto-light, Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
h2 {
    font-size: 36px;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background: #D1D1D1;
}
body, input[text], button {
    color: #000;
    font-family: Roboto-regular, Arial, Helvetica, sans-serif;
}
label {
    display: block;
    margin-top: 10px;
    font-family: Roboto-medium, Arial, Helvetica, sans-serif;
}
.error {
    font-family: Roboto-medium, Arial, Helvetica, sans-serif;
    background: #ff050c;
    color: #FFF;
    padding: 8px;
    text-align: center;
}
.hide {
    display: none;
}
.container {
  padding: 20px;
  background: #fff;
  box-shadow: 1px 1px 1px #999;
}

/*
    FORMS
*/
loader {
  display: none;
}
loader.loading {
  display: inherit;
}
.flash-fail {
  width: 100%;
  padding: 10px;

  border: none;
  background: #AA4356;

  color: #FFF;
  font-family: Roboto-medium;
  font-size: 14px;
  text-align: center;
}


input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 20px;

    color: #000;
    font-size: 14px;
    box-shadow: none;

    border: solid 1px #CED1D2;
    background: #F7F7F7;
}

input[type=submit] {

    width: 100%;

    border: none;
    background: #43AA8B;

    color: #FFF;
    font-family: Roboto-medium;
    font-size: 14px;
    text-align: center;

    cursor: pointer;
}
input[type=submit]:hover {
    background: #2D755F;
}
